{
    "add":"{{ subdomain.subdomain }}",
    "aid":"0",
    "alpn":"",
    "fp":"",
    "host":"{{ subdomain.subdomain }}",
    "id":"{{ xray.uuid }}",
    "net":"ws",
    "path":"{{ xray.path }}",
    "port":"443",
    "ps":"{{ xray.config_name }}",
    "scy":"auto",
    "sni":"{{ sni }}.{{ domain.domain}}",
    "tls":"tls",
    "type":"",
    "v":"2"
}